#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

#include "macropad.dtsi"

#ifndef KEYMAP_DRAWER
#include "win_mgmt.h"
#define SOUND_PANEL LC(LG(V))

// Win: Ctrl+Y or Ctrl+Shift+Z
// Mac: Command + Shift + Z
#define REDO LC(LS(Z))

#endif

#define BASE 0
#define KP   1
#define FN   2
#define MOD  3
#define HALF 4
#define NAV  5
#define SYM  6
#define WIN  7

#include "adv360_key_positions.h"

// mac screenshot
#define _SCRNS &kp LG(LS(NUMBER_4))

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

    hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <175>;
        // flavor = "tap-preferred";
        flavor = "balanced";
        bindings = <&kp>, <&kp>;
    };

    hml: home_row_mod_left {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS_LEFT";
        #binding-cells = <2>;

        flavor = "balanced";            // Or "tap-unless-interrupted"
        tapping-term-ms = <200>;
        quick-tap-ms = <175>;               // Repeat the key if tapped twice
        require-prior-idle-ms = <125>;      // Prevents accidental mods during rolls

        bindings = <&kp>, <&kp>;

        hold-trigger-key-positions = <RIGHT_HAND_KEYS THUMBS>;
        hold-trigger-on-release;        // Wait for the secondary key to release
    };

    hmr: home_row_mod_right {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS_RIGHT";
        #binding-cells = <2>;

        flavor = "balanced";
        tapping-term-ms = <200>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <125>;

        bindings = <&kp>, <&kp>;

        hold-trigger-key-positions = <LEFT_HAND_KEYS THUMBS>;
        hold-trigger-on-release;
    };

    macros {
        macro_000: macro_000 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;

            tap-ms = <10>;
            wait-ms = <10>;

            bindings = <&kp KP_N0>, <&kp KP_N0>, <&kp KP_N0>;
        };
    };

    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base";
      bindings = <
        &kp EQUAL  &kp N1          &kp N2          &kp N3          &kp N4          &kp N5 &tog KP                                                                                       &mo MOD  &kp N6       &kp N7        &kp N8          &kp N9          &kp N0          &kp MINUS
        &kp TAB    &kp Q           &kp W           &kp E           &kp R           &kp T  &tog HALF                                                                                     &none    &kp Y        &kp U         &kp I           &kp O           &kp P           &kp BSLH
        &kp ESC    &hml LGUI A     &hml LALT S     &hml LSHFT D    &hml LCTRL F    &kp G  &none                     &kp LCTRL         &kp LALT     &kp LGUI  &kp RCTRL                  &none    &kp H        &hmr RCTRL J  &hmr RSHFT K    &hmr RALT L     &hmr RGUI SEMI  &kp SQT
        &kp LSHFT  &kp Z           &kp X           &kp C           &kp V           &kp B                                              &kp HOME     &kp PG_UP                                     &kp N        &kp M         &kp COMMA       &kp DOT         &kp FSLH        &kp RSHFT
        &kp LCTRL  &lt WIN GRAVE   &kp CAPS        &kp LEFT        &kp RIGHT                          &lt NAV SPACE &lt KP DEL        &kp END      &kp PG_DN &lt SYM ENTER &lt FN BSPC                        &kp DOWN      &kp UP          &kp LBKT        &kp RBKT        &kp PRINTSCREEN
      >;
    };


    keypad {
      display-name = "Kp";
      bindings = <
        &kp EQUAL &none     &none     &none          &none           &none      &trans                                                         &none    &none      &kp KP_NUM   &kp KP_EQUAL     &kp KP_DIVIDE &kp KP_MULTIPLY &none
        &kp TAB   &none     &none     &none          &none           &none      &none                                                          &none    &none      &kp KP_N7    &kp KP_N8        &kp KP_N9     &kp KP_MINUS    &none
        &kp ESC   &kp LGUI  &kp LALT  &kp LSHFT      &kp LCTRL       &kp SPACE  &none           &none   &none   &kp DEL &kp BSPC               &none    &kp MINUS  &kp KP_N4    &kp KP_N5        &kp KP_N6     &kp KP_PLUS     &none
        &kp LSHFT &none     &none     &kp LS(SPACE)  &kp LC(SPACE)   &kp TAB                            &none   &none                                   &none      &kp KP_N1    &kp KP_N2        &kp KP_N3     &kp KP_ENTER    &none
        &none     &none     &none     &kp LC(PG_UP)  &kp LC(PG_DN)                        &none &trans  &none   &none   &kp ENTER &kp KP_N0                        &macro_000   &kp COMMA        &kp KP_DOT    &none           &kp PRINTSCREEN
      >;
    };


    fn {
      display-name = "Fn";
      bindings = <
        &none  &kp EXCL &kp AT   &kp HASH  &kp DLLR  &kp PRCNT &none                                               &none     &kp CARET &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR &none
        &none  &kp F24  &kp F19  &kp F20   &kp F21   &none     &none                                               &none     &kp F12   &kp F7   &kp F8    &kp F9    &none    &none
        &none  &kp F23  &kp F16  &kp F17   &kp F18   &none     &none          &none &none    &none &none           &none     &kp F11   &kp F4   &kp F5    &kp F6    &none    &none
        &none  &kp F22  &kp F13  &kp F14   &kp F15   &none                          &none    &none                           &kp F10   &kp F1   &kp F2    &kp F3    &none    &none
        &none  &none    &none    &none     &none                        &none &none &none    &none &none &trans                        &none    &none     &none     &none    &none
      >;
    };


    mod {
      display-name = "MOD";
      bindings = <
        &none              &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                            &trans                 &none        &none        &none        &none &none &none
        &none              &none        &none        &none        &none        &none        &bootloader                                                                      &bootloader            &none        &none        &none        &none &none &none
        &studio_unlock     &none        &none        &none        &none        &none        &none                   &none &none    &bt BT_CLR &none                          &stp STP_BAT           &none        &none        &none        &none &none &none
        &none              &none        &none        &none        &macro_ver   &none                                      &none    &none                                                            &none        &none        &none        &none &none &none
        &none              &none        &none        &none        &none                                       &none &none &none    &none      &bl BL_TOG &rgb_ug RGB_TOG                                         &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };


    half {
      display-name = "HALF";
      bindings = <
        &kp F1           &none      &none            &none      &none      &none      &none                                                                             &none  &none  &none       &none     &none     &none &none
        &kp SOUND_PANEL  &mm_q      &mm_w            &mm_e      &kp F2     &mm_t      &tog HALF                                                                         &none  &none  &none       &kp UP    &none     &none &none
        &kp ESC          &mm_a      &mm_s            &mm_d      &mm_f      &kp LC(L)  &none                    &mm_home    &mm_end      &kp LGUI  &kp RCTRL             &none  &none  &kp LEFT    &kp DOWN  &kp RIGHT &none &none
        &none            &mm_z      &kp LC(X)        &kp LC(C)  &kp LC(V)  &kp PSCRN                                       &kp LSHIFT   &kp PG_UP                              &none  &none       &none     &none     &none &none
        &none            &kp GRAVE  &kp LA(LSHFT)    &mm_left   &mm_right                             &mm_del  &kp ENTER   &kp RALT     &kp PG_DN &kp ENTER &none                     &none       &none     &none     &none &none
      >;
    };


    nav {
      display-name = "NAV";
      bindings = <
        &none      &none           &none           &none       &none       &none   &none                                                                              &none  &none            &none         &none       &none         &none &none
        &kp TAB    &kp LA(F4)      &kp LC(W)       &none       &none       &none   &none                                                                              &none  &none            &none         &kp UP      &none         &none &none
        &kp ESC    &kp LGUI        &kp LALT        &kp LSHFT   &kp LCTRL   &none   &none                        &kp LCTRL &kp LALT    &kp LGUI  &kp RCTRL             &none  &none            &kp LEFT      &kp DOWN    &kp RIGHT     &none &none
        &kp LSHFT  &kp LC(Z)       &kp LC(X)       &kp LC(C)   &kp LC(V)   &none                                          &kp HOME    &kp PG_UP                              &kp SOUND_PANEL  &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &none &none
        &tog NAV   &kp REDO        &none           &none       &none                                    &trans  &kp DEL   &kp END     &kp PG_DN &kp ENTER &none                               &kp C_PREV    &kp C_PP    &kp C_NEXT    &none &none
      >;
    };


    symbol {
      display-name = "SYM";
      bindings = <
        &none       &none       &none       &none       &none       &none       &none                                             &none       &none       &none       &none       &kp LPAR    &kp RPAR    &kp UNDER
        &none       &kp GRAVE   &kp ASTRK   &kp AMPS    &kp LPAR    &kp RPAR    &none                                             &none       &none       &none       &none       &kp LBKT    &kp RBKT    &kp PIPE
        &none       &kp TILDE   &kp DLLR    &kp PRCNT   &kp CARET   &kp EQUAL   &none          &none &none    &none &none         &kp TILDE   &kp GRAVE   &kp DQT     &kp SQT     &kp SEMI    &kp COLON   &kp DQT
        &none       &none       &kp EXCL    &kp AT      &kp HASH    &kp PLUS                         &none    &none                           &kp UNDER   &kp MINUS   &kp LT      &kp GT      &kp QMARK   &none
        &none       &none       &none       &kp BSLH    &kp FSLH                         &none &none &none    &none &trans &none                          &none       &none       &kp LBRC    &kp RBRC    &none
      >;
    };


    win {
      display-name = "WIN";
      bindings = <
        &none   &none   &none  &none  &none &none &none                                                &none              &none            &none                 &kp STACK_WINDOWS       &kp WIN_95_PDF        &kp ESC            &kp TASK_VIEW
        &none   &none   &none  &none  &none &none &none                                                &kp NEW_DESKTOP    &kp GOTO_DESK_1  &kp WIN_75            &kp MAXIMIZE_WINDOW     &kp WIN_95            &kp MOVEW_DESK_1   &kp MOVEW_DESK_2
        &none   &none   &none  &none  &none &none &none            &none &none    &none  &none         &kp CLOSE_DESKTOP  &kp GOTO_DESK_2  &kp SNAP_LEFT         &kp CENTER_WINDOW       &kp SNAP_RIGHT        &kp MOVEW_DESK_3   &kp MOVEW_DESK_4
        &none   &none   &none  &none  &none &none                        &none    &none                                   &kp GOTO_DESK_3  &kp GOTO_DESK_LEFT    &kp MIN_RESTORE_WINDOW  &kp GOTO_DESK_RIGHT   &none              &kp TOG_WIN_PIN
        &none   &trans  &none  &none  &none                  &none &none &none    &none &none &none                                        &kp MOVEW_DESK_LEFT   &kp MOVEW_NEXT_MONITOR  &kp MOVEW_DESK_RIGHT  &none              &kp TOG_APP_PIN
      >;
    };

    extra1 {
      display-name = "Red";
      status = "reserved";
    };

    extra2 {
      display-name = "Purple";
      status = "reserved";
    };

    extra3 {
      display-name = "Cyan";
      status = "reserved";
    };

    extra4 {
      display-name = "Yellow";
      status = "reserved";
    };
  };
};
